<center><h1><%= @results[0].online_test.name %></h1>
  <h3>Results</h3>
<table>
  <thead>
    <tr>
      <th>Prayudh ID</th>
      <th>Candidate Name</th>
      <th>College</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <% teammates=result.candidate.teammates %>
      <% span=teammates.count %>
          <tr>
            <td>
              <% teammates.each do |teammate| %>
                <%= "#{teammate.roll_no} <br />".html_safe %>
              <% end %>
            </td>
            <td>
              <% teammates.each do |teammate| %>
                <%= "#{teammate.name} <br />".html_safe %>
              <% end %>
            </td>
            <td>
              <% teammates.each do |teammate| %>
                <%= "#{teammate.college} <br />".html_safe %>
              <% end %>
            </td>
            <td rowspan="#{span}"><%= result.rank %></td>
          </tr>
    <% end %>
  </tbody>
</table></center>
<br><br>
<div class="noPrint">
   <center><%= link_to "Back",online_test_path(@test_id) %>&nbsp;&nbsp;<a href="#" onClick=" window.print(); return false">Print this page</a></center></div>
